<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>LCBO APP</title>

  <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/foundation.css" />

  <!-- If you are using the gem version, you need this only -->
  <link rel="stylesheet" href="css/app.css" />

  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>
	<div class="row">
	    <div class="large-12 columns">
	 
	    <!-- Navigation -->
	 
	      <div class="row">
	        <div class="large-12 columns">
	 
	          <nav class="top-bar">
	            <ul class="title-area">
	              <!-- Title Area -->
	              <li class="name">
	                <h1>
	                  <a href="#">
	                    LCBO App
	                  </a>
	                </h1>
	              </li>
	              <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
	            </ul>
	         
	            <section class="top-bar-section">
	              <!-- Right Nav Section -->
	              <ul class="right">
	                <li class="divider"></li>
	                <li class="has-dropdown">
	                  <a href="#">Filters</a>
	                  <ul class="dropdown">
	                    <li><label>Categories</label></li>
	                    <li class="has-dropdown">
	                      <a href="#" class="">Wines</a>
	                      <ul class="dropdown">
	                        <li><a href="#">Red Wine</a></li>
	                        <li><a href="#">White Wine</a></li>
	                        <li><a href="#">Champagne</a></li>
	                        <li><a href="#">Rose´</a></li>
	                        <li><a href="#"></a>Sherry</li>
	                        <li><a href="#">Subdropdown Option</a></li>
	                      </ul>
	                    </li>
	                    <li><a href="#">Whiskey</a></li>
	                    <li><a href="#">Rum</a></li>
	                    <li class="divider"></li>
	                    <li><label>Spirits</label></li>
	                    <li><a href="#">Vodka</a></li>
	                    <li><a href="#">Tequila</a></li>
	                    <li><a href="#">Gin</a></li>
	                    <li class="divider"></li>
	                    <li><a href="#">See all &rarr;</a></li>
	                  </ul>
	                </li>
	                <li class="divider"></li>
	                <li><a href="#">About</a></li>
	                <li class="divider"></li>
	                <li class="has-dropdown">
	                  <a href="#">Contact</a>
	                </li>
	              </ul>
	            </section>
	          </nav>
	          <!-- End Top Bar -->
	        </div>
	      </div>
	 
	    <!-- End Navigation -->
	 
	      <div class="row">
	 
	  <!-- Side Bar -->
	 
	        <div class="large-4 small-12 columns">
	 
	          <img src="http://www.cbc.ca/gfx/images/news/topstories/2011/03/19/hi-lcbo-cp6924521.jpg">
	 
	          <div class="hide-for-small panel">
	            <h3>LCBO</h3>
	            <h5 class="subheader">
	            	LCBO is an Ontario government enterprise and one of the world’s largest buyers and retailers of beverage alcohol. Through more than 634 retail stores and catalogues, it offers nearly 18,000 products annually to consumers and licensed establishments.

	            	In fiscal 2012-13, LCBO sales topped $4.892 billion and it delivered a $1.7 billion dividend to the Ontario government, not including taxes.
	            </h5>
	          </div>
	 
	        </div>
	 
	    <!-- End Side Bar -->
	 
	 
	    <!-- Thumbnails -->
	    	        <div class="large-8 columns">
	          <div class="row">
	          	<% if @index_called %>
	          	<% for i in 0..@product_names.length-1%>
	          	<% if @image_urls[i] != nil%>

	            <div class="large-4 small-6 columns">
	              <img src= <%=@image_urls[i]%> >
	 
	              <div class="panel">
	                <h5> <%= @product_names[i] %> </h5>
	                <h6 class="subheader"> <%= @categories[i] %> </h6>
	                <h6 class="subheader"> $ <%= @product_prices[i].to_f/100 %> </h6>
	              </div>
	            </div>
	            <% end %>
	            <% end %>
	            <% end %>

	            <% if @show_called %>
	            <div class="large-4 small-6 columns">
	              <img src= <%=@image_url%> >
	 
	              <div class="panel">
	                <h5> <%= @name %> </h5>
	                <h6 class="subheader"> <%= @category %> </h6>
	                <h6 class="subheader"> $ <%= @price.to_f/100 %> </h6>
	              </div>
	            </div>
	            <% end %>

	        </div>    

	        </div>
	 

	    <!-- End Thumbnails -->
	 
	 
	    <!-- Managed By -->
	          <div class="row">
	            <div class="large-12 columns">
	              <div class="panel">
	                <div class="row">
	 
	                  <div class="large-2 small-6 columns">
	                    <img src="http://placehold.it/300x300&text=Site Owner">
	                  </div>
	 
	                  <div class="large-10 small-6 columns">
	                    <strong>This Site Is Managed By<hr/></strong>
	 
	                    Jon Carr-Harris and Ahmed Hawas
	                  </div>
	 
	                </div>
	              </div>
	            </div>
	 
	    <!-- End Managed By -->
	 
	          </div>
	        </div>
	      </div>
	 
	 
	    <!-- Footer -->
	 
	      <footer class="row">
	        <div class="large-12 columns"><hr />
	          <div class="row">
	 
	            <div class="large-6 columns">
	              <p>&copy; Copyright Egypt Liberation.</p>
	            </div>
	 
	            <div class="large-6 columns">
	              <ul class="inline-list right">
	                <li><a href="#">Terms of Service</a></li>
	                <li><a href="#">Privacy Policy</a></li>
	              </ul>
	            </div>
	 
	          </div>
	        </div>
	      </footer>
	 
	    <!-- End Footer -->
	 
	    </div>
	  </div>
	<script>
	  document.write('<script src=' +
	  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
	  '.js><\/script>')
	  </script>
	  <script src="js/foundation/foundation.js"></script>
	  <script src="js/foundation/foundation.alerts.js"></script>
	  <script src="js/foundation/foundation.clearing.js"></script>
	  <script src="js/foundation/foundation.cookie.js"></script>
	  <script src="js/foundation/foundation.dropdown.js"></script>
	  <script src="js/foundation/foundation.forms.js"></script>
	  <script src="js/foundation/foundation.joyride.js"></script>
	  <script src="js/foundation/foundation.magellan.js"></script>
	  <script src="js/foundation/foundation.orbit.js"></script>
	  <script src="js/foundation/foundation.placeholder.js"></script>
	  <script src="js/foundation/foundation.reveal.js"></script>
	  <script src="js/foundation/foundation.section.js"></script>
	  <script src="js/foundation/foundation.tooltips.js"></script>
	  <script src="js/foundation/foundation.topbar.js"></script>
	  <script src="js/foundation/foundation.interchange.js"></script>
	  <script>
	    $(document).foundation();
	  </script>